<mat-toolbar color="primary">
  <div class="skeleton skeleton-text"></div>
</mat-toolbar>
<div class="shell-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text short"></div>
    </mat-card-content>
  </mat-card>
</div>
